/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 17, 2023, 9:35:28 AM
    Author     : My PC
*/

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body{
    line-height: 22px;
}
table {
    font-size: 15px;
    background-color: #fff;
    border-collapse: collapse;
    width: 100%;
}
th {
    border-right: 1px solid #fff;
    text-align: left;
    padding: 2px;
    text-transform: uppercase;
    height: 23px;
    background-color: #6b90da;
    font-weight: normal;
}
tr{
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}
td {
    padding: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
}
tbody th {
    text-align:left;
    padding: 2px;
}
b {
    color: Blue;
    font-size: 25px;
    text-align: center;
}
a{
    text-align: center;
}